pip install werkzeug utils typing tabulate seaborn requests pyperclip pypandoc psutil plotly panflute pandas openpyxl numpy matplotlib logging google-auth google-cloud google-api-core google-api-python-client flask_cors flask python-dotenv python-docx opencv-python beautifulsoup4 auth


python -m playwright install chromium




werkzeug
utils
typing
tabulate
seaborn
requests
pyperclip
pypandoc
psutil
plotly
playwright
panflute
pandas
openpyxl
numpy
matplotlib
logging
google-auth
google-cloud
google-auth
google-api-core
google-api-python-client
google-generativeai
flask_cors
flask
python-dotenv
python-docx
opencv-python
beautifulsoup4
auth
